* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  display: inline-block;
}
.sr-only:focus,
.sr-only:active,
.sr-only:hover {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.a11y-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.a11y-only.focusable:active,
.a11y-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
[aria-hidden="true"] {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #2084bd;
  text-decoration: none;
  border-bottom: 1px solid #12073f;
}
a:hover,
a:focus {
  border-bottom-color: #2084bd;
}
