@font-face {
	font-family: 'League Gothic Condensed';
	src: url('/_assets/fonts/LeagueGothic-Condensed.woff2') format('woff2'),
		url('/_assets/fonts/LeagueGothic-Condensed.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'League Gothic';
	src: url('/_assets/fonts/LeagueGothic-Regular.woff2') format('woff2'),
		url('/_assets/fonts/LeagueGothic-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/_assets/fonts/OpenSans-Regular.woff2') format('woff2'),
		url('/_assets/fonts/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/_assets/fonts/OpenSans-Bold.woff2') format('woff2'),
		url('/_assets/fonts/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lora';
	src: url('/_assets/fonts/Lora-Regular.woff2') format('woff2'),
		url('/_assets/fonts/Lora-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lora';
	src: url('/_assets/fonts/Lora-Italic.woff2') format('woff2'),
		url('/_assets/fonts/Lora-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Lora';
	src: url('/_assets/fonts/Lora-Bold.woff2') format('woff2'),
		url('/_assets/fonts/Lora-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lora';
	src: url('/_assets/fonts/Lora-SemiBoldItalic.woff2') format('woff2'),
		url('/_assets/fonts/Lora-SemiBoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

.logo {
	font-size: clamp( 1em, 2.5vw, 1.3em );
	a {
		font-family: "Lora", serif;
		text-decoration: none;
		font-weight: normal;
		color: #444;
	}
}

.book-body {
	font-size: clamp( .8em, 1.25vw, 1.2em );
	h1,
	h2 {
		font-family: "League Gothic", sans-serif;
		text-transform: uppercase;
		font-size: 2.25em;
		font-weight: normal;
	}
	h1, h2, h3, h4, h5 {
		padding: 0;
		margin: 1.5em 0 .5em 0;
	}
	h3 {
		font-family: "Lora", serif;
		font-size: 1.4em;
		font-weight: bold;
	}
	h4 {
		color: #666;
		font-family: "Open Sans", sans-serif;
		font-size: 1.1em;
		font-weight: bold;
	}
	li,
	p {
		font-family: "Lora", serif;
		color: #15141A;
		font-size: 1.1875em;
		line-height: 1.5;
		margin: .625em 0;
	}
	li {
		line-height: 1.4;
	}

	p + p {
		padding: 0;
		margin: 1.25em 0;
	}
}
code {
	background: #f2f2f2;
	color: #575aad;
	font-size: .9em	;
	padding: .1em;
}
pre {
	background-color: #f2f2f2;
	padding: 1.2em 1em;
	margin: 2em 0;
	font-size: 1.15em;
	line-height: 1.55;
	overflow: auto;
	border: solid #ccc;
	border-width: 0 0 0 4px;
}

figcaption {
	font-size: .925em;
	font-family: "Open Sans", sans-serif;
	color: #666;
	margin-top: .5em;
}
.title-section h1 {
	font-family: "League Gothic", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: -.025em;
	font-size: clamp(5em,20vw,14em);
}
.author {
	font-size: clamp(1.15em, 3vw, 2.4em );
	padding-bottom: .35em;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	font-family: "Lora", serif;
}
.btn-cta {
	font-size: clamp(1.45em, 4vw, 2.1em );
	font-family: "League Gothic", sans-serif;
	letter-spacing: .025em;
	text-transform: uppercase;
	background: #000;
	color: #fff;
	text-decoration: none;
	transition: background .15s linear;
	border-radius: 3px;
}
.btn-cta:hover {
	background: #333;
	color: #fff;
}
.footer {
	color: #666;
	font-family: "Open Sans", sans-serif;
}
.footer p {
	color: #666;
	font-size: 1em;
	font-family: "Open Sans", sans-serif;
}
.meta-hed {
	color: #666;
	font-family: "League Gothic", sans-serif;
	font-weight: normal;
	font-size: 1.25em;
	letter-spacing: .05em;
	text-transform: uppercase;
	margin: .25em 0 0 0;
}
.pub-info p {
	font-size: .925em;
	line-height: 1.55;
}
.chapter-header {
	display: flex;
	flex-wrap: no-wrap;
	align-items: flex-end;
	font-size: clamp( .2em, 2vw, 1em);
}
.chapter-title {
	font-family: "League Gothic", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 5.5em;
	line-height: .85;
	margin: 0;
	padding: 0;
}
.chapter-num {
	font-family: "League Gothic", sans-serif;
	font-size: 15em;
	line-height: .6;
	color: #fff;
	padding-right: .125em;
}
.title-section h1 {
	padding-right: 2.5vw;
	line-height: .8;
	font-size: clamp(4.5em, 12.5vw, 14em );
	color: rgba(255,255,255,.95);
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	letter-spacing: -.01em;
	padding: .12em 0;
}

.inner-nav {
	margin-top: 4em;
	padding-top: 1em;
	border-top: 4px solid #f2f2f2;
	font-family: "Open Sans", sans-serif;
}
.inner-nav a {
	font-size: .9em;
	text-decoration: none;
	text-transform: capitalize;
}

.toc-btn {
	font-family: "Open Sans", sans-serif;
	color: #444;
	font-size: .925em;
}

.modal {
	a {
		color: rgba(255,255,255,.9);
		font-size: 1.6em;
		font-family: "Lora", serif;
		font-weight: normal;
		text-transform: capitalize;
		text-decoration: none;
		display: inline-block;
		transition: all .15s ease-in-out;
		&:hover {
			color: rgba(255,255,255,.85);
			transform: translate(.4em, 0);
		}
	}
}
